:root {
    --primary-color: #000080;
    --secondary-color: #024e76;
    --tertiary-color: #d3d3d3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*more on this crazy alphanumerical value in a minute!*/
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply style to .header.*/
header {
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}


header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav {
    margin: 7px 0;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 10px 15px;
    font-size: 22px;
    font-size: 1.55vw;
}


footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--tertiary-color);
}

footer a {
    color: var(--tertiary-color);
}

/*Hero Style Start*/
.about-me {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
    background-color: whitesmoke;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    flex-direction: column-reverse;
}

.about-me h2 {
    color: var(--primary-color);
}

.about-me p {
    margin: 25px 80px 25px 80px;
    color: var(--primary-color);
}

.about-me img {
    padding: 0 auto;
    width: 25%;
    height: 40%;
}

.subtitle-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: var(--tertiary-color);
}

.subtitle {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.2;
}

.subtitle h2 {
    margin: 100px 5px 25px 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
}
/*Hero Styles End*/

.about-me {
    background: whitesmoke;
}

section {
    display: flex;

}

.section-title {
    font-size: 55px;
    align-items: right;
    padding: 0 250px 20px 100px;
    margin-bottom: 35px;
    height: 80%;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 20px 35px 20px;
    width: 35%;
    font-size: 48px;
    color: var(--primary-color);
    border-right: 3px solid var(--primary-color);
}

.primary-border {
    border-right: 3px solid var(--primary-color);
    border-color: var(--primary-color);
    height: 100%;
}

.secondary-border {
    border-color: var(--primary-color);
    border-right: 3px solid var(--primary-color);
    height: 100%;
}

.project h3 {
    color: var(--primary-color);
    font-size: 46px;
    flex: 1 30%;
}

.projects {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projects:first-child {
    width: 100%;
}

.projects .project {
    display: flex;
    margin: 50px 10px 50px 10px;
    padding-bottom: 25px;
    width: 80%;
    border-bottom: 1px solid var(--primary-color);
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-between;
    text-align: left;
    align-items: right;
}

.project img {
    height: auto;
    width: auto;
}

.projects h2 {
    margin: 80px 20px 80px 20px;
    color: var(--primary-color);
    height: 100%;
    padding-bottom: 300px;
}

.project-name {
    color: var(--primary-color);
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
}

.project-img {
    flex: 1 12%;
    margin-right: 20px;
}

.project-img img {
    max-width: 80%;
    size: 100%;
}

.project {
    margin: 20px;
    background: whitesmoke;
    color: var(--primary-color);
    flex: 1;
}
 

/*Reach Out Styles Start*/
.contact-me {
    height: 150%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: whitesmoke;
}


.contact-me h2 {
    margin: 80px 0px 80px 20px;
    color: var(--primary-color);
    height: 100%;
    padding-bottom: 300px;
}

.contact-me div {
    height: 25%;
    width: auto;
    background: whitesmoke;
    margin: 50px 10px 50px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
    background-color: whitesmoke;
    align-content: center;
}

.contact-me address {
    height: 25%;
    width: auto;
    background: whitesmoke; 
    margin: 50px 10px 50px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
    background-color: whitesmoke;

}

.contact-me .contact-form {
    height: 25%;
    width: auto;
    background: whitesmoke; 
    margin: 50px 10px 50px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
    background-color: whitesmoke;
}

.resume h2 {
    margin: 20px 5px 20px 5px;
    color: var(--primary-color);
    height: 100%;
    padding: 100px 0 300px 10px;
}

.resume {
    position: relative;
    align-items: center;
    text-align: center;
}

.resume .resume-text {
    position: relative;
    padding: 100px;
}

.resume-file iframe {
    position: relative;
    padding: 20px 50px 20px 50px;
    height: 30vw;
    width: 45vw;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--tertiary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    border-radius: 10px;
    width: 100%;
    border: none;
    background: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-form button:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.contact-info a {
    color: var(--primary-color);
}

/*Reach Out Styles End*/


.flex-row {
    display: flex;
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/ 
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  .subtitle-section{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      background-color: var(--tertiary-color);
  }
.about-me img {
    display: inline;
}

  header nav ul li a {
      font-size: 20px;
  }

  header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
  }

  footer h2, footer div {
      text-align: center;
      width: 100%;
  }


  .section-title {
      width: 80%;
  }

  .contact-info iframe {
      flex: 1 100%;
  }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/ 
@media screen and (max-width: 768px) {
  section {
      padding: auto;
  }
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me {
    display: block;
    flex-wrap: wrap;
    justify-content: left;
}
  
.about-me h2 {
    padding: none;
    margin: none;
}

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {

   .section-title {
       width: 95%;
   }

   .intro p {
       width: 100%;
   }

   .trainer {
       flex: 0 100%;
   }

   .contact-info {
       text-align: center;
   }

   .contact-info > * {
       flex: 0 100%;
   }

   .contact-form {
       order: 3;
   }
   
}

