:root {
    --primary-color: #000080;
    --secondary-color: #024e76;
    --tertiary-color: #d3d3d3;
}

/* Setting Universal Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Setting Font Styles for the body*/
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* apply style to .header.*/
header {
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

/*My Name Stylings*/
header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

/*make the nav tools colors gray*/
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}
/*changing the navigation tools*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav {
    margin: 7px 0;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 10px 15px;
    font-size: 22px;
    font-size: 1.55vw;
}

/*Beginning of footer sylization*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--tertiary-color);
}

footer a {
    color: var(--tertiary-color);
}
/*end footer sylization*/

/*"Cool Subtitle" Section Styling*/
.subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: var(--tertiary-color);
    width: 100%;
    text-align: right;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.2;
}

.subtitle h2 {
    width: 100%;
    margin: 100px 75px 25px 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
}

.subtitle p {
    width: 100%;
    margin: auto 80px 25px 0px;
}

.section-title {
    position: relative;
    font-size: 100px;
    color: var(--primary-color);
    width: 40%;
    margin: 25px;
    border-right: 3px solid var(--primary-color);
}
/*"Cool Subtitle" styling done*/

/*styling the about me section*/
.about-me-content {
    position: relative;
    text-align:  right;
    size: 0 auto;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    background-color: whitesmoke;
    flex-direction: row;
}

/*sizing my About Me image*/
.about-me img {
    height: 600px;
    width: 400px;
    padding: 0 auto auto 100px;
}

/*Stylizing my About Me paragraph*/
.about-me p {
    padding: 60px 5px 10px 100px;
    text-align: right;
}


/*Stylizing the projects or "work" section*/
.all-projects {
    height: 100%;
    width: 100%;
    display: flex;
    size: auto;
}

.projects-content {
    width: auto;
}

/*Adjusting the first project to make it bigger*/
.project-1 {
    margin-top: 50px;
    height: 250px;
    width: 600px;;
    text-align: center;
    justify-content: center;
    position: relative;
    background-image: url(../images/hero-bg.jpeg);
    background-position: center;
    background-size: contain;
}

.project-1 a {
    font-size: 50px;
    color: var(--tertiary-color);
    text-decoration: dashed;
}

/*putting the projects in rows*/
.project-row-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Template for styling the remaining projects*/
.project-2 {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 300px;
    justify-content:space-around;
    position: relative;
    background-image: url(../images/WLR-1.jpg);
    background-position: center;
    background-size: contain;
    font: 100px var(--tertiary-color);
    background-repeat: no-repeat;
}

.project-2 h3 {
    text-align: center;
}

.project-2 p {
    margin-top: 225px;
    color: var(--tertiary-color);
}

.project-3 {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 300px;
    text-align: center;
    position: relative;
    background-image: url(../images/rooftop-smoke-1.JPG);
    background-position: center;
    padding: 25px;
    background-size: contain;
    font: 100px var(--tertiary-color);
    background-repeat: no-repeat;
}

.project-3 h3 {
    text-align: center;
}

.project-3 p {
    margin-top: 80%;
}

/*making a second row for projects*/
.project-row-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-4 {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 300px;
    text-align: center;
    position: relative;
    background-image: url(../images/ABC-monkey.JPG);
    background-position: center;
    padding: 25px;
    background-size: contain;
    font: 100px var(--tertiary-color);
    background-repeat: no-repeat;
}
.project-4 h3 {
    text-align: center;
}

.project-4 p {
    margin-top: 80%;
    color: var(--tertiary-color);
}

.project-5 {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 300px;
    text-align: center;
    position: relative;
    background-image: url(../images/sad-boi-painting.JPG);
    background-position: center;
    padding: 25px;
    background-size: contain;
    font: 100px var(--tertiary-color);
    background-repeat: no-repeat;
}
.project-5 h3 {
    text-align: center;
}

.project-5 p {
    margin-top: 80%;
    color: var(--tertiary-color);
}

/*stylizing the "contact me" section*/
.contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    background-color: whitesmoke;
    flex-direction: row;
}

.contact-me-content {
    padding: 50px 50px 50px 50px;
    flex-direction: row-reverse;
    position: relative;
    text-align:  right;
    size: 0 auto;
    justify-content: right;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    background-color: whitesmoke;
    flex-direction: row;
}

/*stylizing the resume section*/
.resume-content {
    padding: 50px 50px 50px 50px;
    flex-direction: row-reverse;
    position: relative;
    text-align:  center;
    size: 0 auto;
    justify-content: center;
}

/*stylizing my resume to be more readable*/
.resume iframe {
    width: 500px;
    height: 600px;
}


/*MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER*/ 
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  .subtitle{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      background-color: var(--tertiary-color);
  }
.about-me img {
    display: inline;
}

header nav ul li a {
    font-size: 20px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer h2, footer div {
    text-align: center;
    width: 100%;
}


.section-title {
    width: 100px;
    border-right: none;
}

.contact-info iframe {
    flex: 1 100%;
}

.resume .section-title {
    border: none;
}
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/ 
 @media screen and (max-width: 768px) {
  section {
      padding: auto;
  }
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .about-me {
        display: block;
        flex-wrap: wrap;
        justify-content: left;
    }
    
    .about-me h2 {
        padding: none;
        margin: 0;
    }

    .section-title {
        padding: 0;
    }

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
 @media screen and (max-width: 575px) {

   .section-title {
       width: 95%;
   }

   .intro p {
       width: 100%;
   }

   .trainer {
       flex: 0 100%;
   }

   .contact-info {
       text-align: center;
   }

   .contact-info > * {
       flex: 0 100%;
   }

   .contact-form {
       order: 3;
   }
   
} 